/* Global resets */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #202124;
  font-family: 'Google Sans', 'Roboto', 'Helvetica Neue', sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

/* Bootstrap Icons */
i {
  line-height: 1;
}
